name: build-nightly

on:
  push:
    branches:
      - "main"


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4
      - name: Get Time
        run: |
          CURRENT_DATE=$(date +%Y%m%d%H%M%S)
          echo "CURRENT_DATE=$CURRENT_DATE" >> $GITHUB_ENV
      - name: Setup python 3.13
        uses: actions/setup-python@v5
        with:
            python-version: 3.13
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build Artifacts
        run: uv build
      - name: Release Artifacts
        uses: marvinpinto/action-automatic-releases@latest
        with:
            title: "PackWrapper N${{ env.CURRENT_DATE }}"
            automatic_release_tag: "nightly"
            repo_token: "${{ secrets.GITHUB_TOKEN }}"
            files: |
              "dist/packwrapper-*.whl"
              "dist/packwrapper-*.tar.gz"
            prerelease: true