name: build-release

on:
  push:
    tags:
      - 'v*'


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Setup python 3.13
        uses: actions/setup-python@v5
        with:
            python-version: 3.13
      - name: Install UV
        uses: astral-sh/setup-uv@v7
      - name: Build Artifacts
        run: uv build
      - name: Upload Release
        uses: AButler/upload-release-assets@v3.0.1
        with:
          files: "dist/packwrapper-*.whl; dist/packwrapper-*.tar.gz"
          release-tag: ${{ steps.get_version.outputs.VERSION }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}