name: runtest

on:
  push:
    branches:
      - "main"

jobs:
  runtest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup python 3.13
        uses: actions/setup-python@v5
        with:
            python-version: 3.13
      - name: Install UV
        uses: astral-sh/setup-uv@v7
      - name: Setup PackWrapper
        run: |
          uv venv
          uv pip install .
      - name: Run test
        run: |
          uv run python PackWrapperLauncher.py